@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.awardscontainer {
  padding: 0 0 18px 16px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 24px;

  .awardsheader {
    padding: 0 20px 13px 0;

    .awardscertificatestxt {
      font-family: Avenir Next LT Pro;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      padding-top: 9px;
    }

    .viewalltext {
      font-family: Avenir Next LT Pro;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      cursor: pointer;
      color: rgba(231, 45, 56, 1);
      padding-top: 12px;
    }

    .viewalltext:hover {
      opacity: 0.8;
    }
  }

  .awardiconscontainer::-webkit-scrollbar {
    display: none;
  }

  .awardiconscontainer:not(last-child) {
    margin-right: 20px;
  }

  .awardiconscontainer {
    padding-bottom: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .awardicon {
      height: 74px;
      width: 74px;
      margin-right: 20px;
    }

    .awardicon:last-child {
      margin-right: 0;
    }
  }
}
