@font-face {
  font-family: "Work Sans";
  src: url("../../assets/fonts/WorkSans-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.headercontainer {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 20px 20px 10px 20px;
  margin-bottom: 16px;

  .headerbackicon {
    height: 24px;
    width: 24px;
  }
  .bioheadertext {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-left: 14px;
    font-family: Work Sans;
  }
}
