@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.borderelement {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  margin: 0 20px;
}

.bordercontainerbottom {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 19px;
}

.skillscontainer {
  padding-top: 23px;
  padding-left: 20px;

  .skillsheader {
    font-family: Avenir Next LT Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 18px;
  }

  .skillstext {
    font-family: Avenir Next LT Pro;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .pillscontainer::-webkit-scrollbar {
    display: none;
  }

  .pillscontainer {
    margin: 20px 0 24px 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 27px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .pill {
      padding: 5px 10px 5px 10px;
      background-color: #456eff;
      font-family: Avenir Next LT Pro;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      text-align: center;
      color: white;
      border-radius: 14px;
      margin-right: 8px;
    }

    .pill:last-child {
      margin-right: 20px;
    }
  }
}
