* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 375px;
  margin: auto;
  padding: 0px;
  overflow-x: hidden;
  height: 100vh;
  overflow-y: auto;
}

@media only screen and (max-width: 420px) {
  html,
  body {
    width: 100%;
    color: #ffffff;
    margin: auto;
    padding: 0px;
    overflow-x: hidden;
    height: 100%;
  }
}

body::-webkit-scrollbar {
  display: none;
}
